{% extends 'layout.html'%}
{% block content %}

       <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-danger">
                <div class="card-header py-3 text-bg-danger border-danger">
                <h4 class="my-0 fw-normal">Pista Premium</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$1.000<small class="text-body-secondary fw-light"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Em até 12X</li>
                  <li> Localizado no Fundo do salão</li>
                  <li>Mesas com 5 lugares cada</li>
                  <li> OPen Bar e Alimentação inclusos</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-danger">ADQUIRIR</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-danger">
              <div class="card-header py-3 text-bg-danger border-danger">
                <h4 class="my-0 fw-normal">Camarote</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$2.000<small class="text-body-secondary fw-light"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Em até 24x</li>
                  <li> Localizado no centro do salão</li>
                  <li>Mesas com 5 lugares cada</li>
                  <li>OPen Bar e Alimentação inclusos</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-danger">ADQUIRIR</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-danger">
              <div class="card-header py-3 text-bg-danger border-danger">
                <h4 class="my-0 fw-normal">Área VIP</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$4.000<small class="text-body-secondary fw-light"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Em até 36X </li>
                  <li>Localizado em frente ao Palco </li>
                  <li>Mesas com 5 lugares cada </li>
                  <li>OPen Bar e Alimentação inclusos </li>
                  </ul>
                <button type="button" class="w-100 btn btn-lg btn-danger">ADQUIRIR</button>
              </div>
            </div>
          </div>
        </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
  {% endblock %}

  